In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('/Users/soumobratamanna/Documents/Data_Science_Projects/tensorflow-test/train_u6lujuX_CVtuZ9i (1).csv')

In [3]:
data.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [4]:
data.tail(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [6]:
data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [7]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
#Removing the null values 
data = data.dropna(axis=0)

In [9]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [10]:
data = data.replace(to_replace = '3+', value = 4 )

In [11]:
data.replace({'Married':{'No':0,'Yes':1},'Gender':{'Male':1,'Female':0},'Self_Employed':{'No':0,'Yes':1},
                      'Property_Area':{'Rural':0,'Semiurban':1,'Urban':2},'Education':{'Graduate':1,'Not Graduate':0}},inplace=True)

In [12]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,N
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,2,Y
3,LP001006,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,2,Y
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,2,Y
5,LP001011,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,2,Y

In [13]:
#Changing data values from string to numeric
data['Dependents'] = pd.to_numeric(data['Dependents'],errors='coerce')

In [14]:
#Dividing the dataset between independent and dependent variables 
X = data.drop(['Loan_ID','Loan_Status'],axis=1)
Y = data.iloc[:,-1]

In [15]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,2
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,2
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,2
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,2900,0.0,71.0,360.0,1.0,0
610,1,1,4,1,0,4106,0.0,40.0,180.0,1.0,0
611,1,1,1,1,0,8072,240.0,253.0,360.0,1.0,2
612,1,1,2,1,0,7583,0.0,187.0,360.0,1.0,2
613,0,0,0,1,1,4583,0.0,133.0,360.0,0.0,1

In [16]:
Y

1      N
2      Y
3      Y
4      Y
5      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 480, dtype: object

In [17]:
#Splitting the dataset between training and testing 
from sklearn.model_selection import train_test_split
X_train,X_test ,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [18]:
X_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
243,1,1,2,1,1,6250,1300.0,108.0,360.0,1.0,0
214,1,1,0,1,0,3173,3021.0,137.0,360.0,1.0,2
494,1,1,0,1,0,3597,2157.0,119.0,360.0,0.0,0
575,1,1,2,1,0,3159,461.0,108.0,84.0,1.0,2
97,1,1,0,1,0,1977,997.0,50.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
564,1,1,2,1,0,8799,0.0,258.0,360.0,0.0,2
325,1,1,1,1,1,8666,4983.0,376.0,360.0,0.0,0
593,1,1,0,1,0,3859,3300.0,142.0,180.0,1.0,0
77,1,1,1,1,1,1000,3022.0,110.0,360.0,1.0,2
431,1,0,0,1,0,6500,0.0,105.0,360.0,0.0,0

In [19]:
Y_train

243    Y
214    Y
494    N
575    Y
97     Y
      ..
564    N
325    N
593    Y
77     N
431    N
Name: Loan_Status, Length: 384, dtype: object

In [20]:
#Using Standardization technique to scale down the values 
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [21]:
X_train

array([[ 0.45557345,  0.73632104,  0.91228629, ...,  0.26390317,
         0.38691162, -1.30753144],
       [ 0.45557345,  0.73632104, -0.71331898, ...,  0.26390317,
         0.38691162,  1.26071446],
       [ 0.45557345,  0.73632104, -0.71331898, ...,  0.26390317,
        -2.5845696 , -1.30753144],
       ...,
       [ 0.45557345,  0.73632104, -0.71331898, ..., -2.62598706,
         0.38691162, -1.30753144],
       [ 0.45557345,  0.73632104,  0.09948366, ...,  0.26390317,
         0.38691162,  1.26071446],
       [ 0.45557345, -1.35810325, -0.71331898, ...,  0.26390317,
        -2.5845696 , -1.30753144]])

In [22]:
X_test

array([[-2.19503572, -1.35810325,  0.09948366, ...,  0.26390317,
         0.38691162, -0.02340849],
       [ 0.45557345,  0.73632104, -0.71331898, ...,  0.26390317,
         0.38691162, -1.30753144],
       [ 0.45557345, -1.35810325,  0.09948366, ...,  0.26390317,
         0.38691162, -0.02340849],
       ...,
       [-2.19503572, -1.35810325, -0.71331898, ...,  0.26390317,
         0.38691162,  1.26071446],
       [ 0.45557345,  0.73632104, -0.71331898, ...,  0.26390317,
         0.38691162, -0.02340849],
       [ 0.45557345,  0.73632104,  0.09948366, ...,  0.26390317,
        -2.5845696 , -0.02340849]])

In [23]:
from sklearn.svm import SVC

In [24]:
model = SVC(kernel = 'linear')

In [25]:
model.fit(X_train,Y_train)

SVC(kernel='linear')

In [26]:
#Checking prediction rate for training data 
predict_train = model.predict(X_train)

In [27]:
from sklearn.metrics import classification_report
cr_train = classification_report(predict_train,Y_train)

In [28]:
print(cr_train)

              precision    recall  f1-score   support

           N       0.40      0.90      0.55        50
           Y       0.98      0.80      0.88       334

    accuracy                           0.81       384
   macro avg       0.69      0.85      0.72       384
weighted avg       0.91      0.81      0.84       384

In [29]:
#Checking prediction rate for testing data 
predict_test = model.predict(X_test)

In [30]:
cr_test = classification_report(predict_test,Y_test)

In [31]:
print(cr_test)

              precision    recall  f1-score   support

           N       0.51      0.90      0.65        20
           Y       0.97      0.78      0.86        76

    accuracy                           0.80        96
   macro avg       0.74      0.84      0.76        96
weighted avg       0.87      0.80      0.82        96

# Using Hyperparameters tunning

In [32]:
from sklearn.model_selection import GridSearchCV

In [33]:
param_grid = {'C':[0.1,1,10,11,100,1000],
             'gamma':[1,0.1,0.01,0.001,0.0001],
             'kernel': ['rbf']}

#verbose just means the text output describing the process
grid_model = GridSearchCV(SVC(),param_grid,refit = True,verbose = 3)

In [34]:
grid_model.fit(X_train,Y_train)

Fitting 5 folds for each of 30 candidates, totalling 150 fits
[CV 1/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.714 total time=   0.0s
[CV 2/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.701 total time=   0.0s
[CV 3/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.701 total time=   0.0s
[CV 4/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.701 total time=   0.0s
[CV 5/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.711 total time=   0.0s
[CV 1/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.714 total time=   0.0s
[CV 2/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.701 total time=   0.0s
[CV 3/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.727 total time=   0.0s
[CV 4/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.714 total time=   0.0s
[CV 5/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.724 total time=   0.0s
[CV 1/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.714 total time=   0.0s
[CV 2/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.701 total time=   0.0s
[CV 3/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.701 total time=   0.0s
[CV 4/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.701 total time=   0.0s
[CV 5/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.711 total time=   0.0s
[CV 1/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.714 total time=   0.0s
[CV 2/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 3/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 4/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 5/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.711 total time=   0.0s
[CV 1/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.714 total time=   0.0s
[CV 2/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 3/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 4/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 5/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.711 total time=   0.0s
[CV 1/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.766 total time=   0.0s
[CV 2/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.753 total time=   0.0s
[CV 3/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.740 total time=   0.0s
[CV 4/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.740 total time=   0.0s
[CV 5/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.737 total time=   0.0s
[CV 1/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.857 total time=   0.0s
[CV 2/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.831 total time=   0.0s
[CV 3/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.805 total time=   0.0s
[CV 4/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.792 total time=   0.0s
[CV 5/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.789 total time=   0.0s
[CV 1/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.844 total time=   0.0s
[CV 2/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.818 total time=   0.0s
[CV 3/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.792 total time=   0.0s
[CV 4/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.805 total time=   0.0s
[CV 5/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.789 total time=   0.0s
[CV 1/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.714 total time=   0.0s
[CV 2/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 3/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 4/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 5/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.711 total time=   0.0s
[CV 1/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.714 total time=   0.0s
[CV 2/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 3/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 4/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 5/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.711 total time=   0.0s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.740 total time=   0.0s
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.701 total time=   0.0s
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.675 total time=   0.0s
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.714 total time=   0.0s
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.658 total time=   0.0s
[CV 1/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.831 total time=   0.0s
[CV 2/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.831 total time=   0.0s
[CV 3/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.714 total time=   0.0s
[CV 4/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.792 total time=   0.0s
[CV 5/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.750 total time=   0.0s
[CV 1/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.844 total time=   0.0s
[CV 2/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.818 total time=   0.0s
[CV 3/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.792 total time=   0.0s
[CV 4/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.805 total time=   0.0s
[CV 5/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.789 total time=   0.0s
[CV 1/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.844 total time=   0.0s
[CV 2/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.818 total time=   0.0s
[CV 3/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.792 total time=   0.0s
[CV 4/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.805 total time=   0.0s
[CV 5/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.789 total time=   0.0s
[CV 1/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.714 total time=   0.0s
[CV 2/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 3/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 4/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 5/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.711 total time=   0.0s
[CV 1/5] END .........C=11, gamma=1, kernel=rbf;, score=0.740 total time=   0.0s
[CV 2/5] END .........C=11, gamma=1, kernel=rbf;, score=0.701 total time=   0.0s
[CV 3/5] END .........C=11, gamma=1, kernel=rbf;, score=0.675 total time=   0.0s
[CV 4/5] END .........C=11, gamma=1, kernel=rbf;, score=0.714 total time=   0.0s
[CV 5/5] END .........C=11, gamma=1, kernel=rbf;, score=0.658 total time=   0.0s
[CV 1/5] END .......C=11, gamma=0.1, kernel=rbf;, score=0.831 total time=   0.0s
[CV 2/5] END .......C=11, gamma=0.1, kernel=rbf;, score=0.844 total time=   0.0s
[CV 3/5] END .......C=11, gamma=0.1, kernel=rbf;, score=0.714 total time=   0.0s
[CV 4/5] END .......C=11, gamma=0.1, kernel=rbf;, score=0.779 total time=   0.0s
[CV 5/5] END .......C=11, gamma=0.1, kernel=rbf;, score=0.750 total time=   0.0s
[CV 1/5] END ......C=11, gamma=0.01, kernel=rbf;, score=0.844 total time=   0.0s
[CV 2/5] END ......C=11, gamma=0.01, kernel=rbf;, score=0.818 total time=   0.0s
[CV 3/5] END ......C=11, gamma=0.01, kernel=rbf;, score=0.792 total time=   0.0s
[CV 4/5] END ......C=11, gamma=0.01, kernel=rbf;, score=0.805 total time=   0.0s
[CV 5/5] END ......C=11, gamma=0.01, kernel=rbf;, score=0.789 total time=   0.0s
[CV 1/5] END .....C=11, gamma=0.001, kernel=rbf;, score=0.844 total time=   0.0s
[CV 2/5] END .....C=11, gamma=0.001, kernel=rbf;, score=0.818 total time=   0.0s
[CV 3/5] END .....C=11, gamma=0.001, kernel=rbf;, score=0.792 total time=   0.0s
[CV 4/5] END .....C=11, gamma=0.001, kernel=rbf;, score=0.805 total time=   0.0s
[CV 5/5] END .....C=11, gamma=0.001, kernel=rbf;, score=0.789 total time=   0.0s
[CV 1/5] END ....C=11, gamma=0.0001, kernel=rbf;, score=0.714 total time=   0.0s
[CV 2/5] END ....C=11, gamma=0.0001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 3/5] END ....C=11, gamma=0.0001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 4/5] END ....C=11, gamma=0.0001, kernel=rbf;, score=0.701 total time=   0.0s
[CV 5/5] END ....C=11, gamma=0.0001, kernel=rbf;, score=0.711 total time=   0.0s
[CV 1/5] END ........C=100, gamma=1, kernel=rbf;, score=0.727 total time=   0.0s
[CV 2/5] END ........C=100, gamma=1, kernel=rbf;, score=0.675 total time=   0.0s
[CV 3/5] END ........C=100, gamma=1, kernel=rbf;, score=0.675 total time=   0.0s
[CV 4/5] END ........C=100, gamma=1, kernel=rbf;, score=0.714 total time=   0.0s
[CV 5/5] END ........C=100, gamma=1, kernel=rbf;, score=0.632 total time=   0.0s
[CV 1/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.792 total time=   0.0s
[CV 2/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.740 total time=   0.0s
[CV 3/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.727 total time=   0.0s
[CV 4/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.740 total time=   0.0s
[CV 5/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.671 total time=   0.0s
[CV 1/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.831 total time=   0.0s
[CV 2/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.831 total time=   0.0s
[CV 3/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.792 total time=   0.0s
[CV 4/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.779 total time=   0.0s
[CV 5/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.750 total time=   0.0s
[CV 1/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.844 total time=   0.0s
[CV 2/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.818 total time=   0.0s
[CV 3/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.792 total time=   0.0s
[CV 4/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.805 total time=   0.0s
[CV 5/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.789 total time=   0.0s
[CV 1/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.844 total time=   0.0s
[CV 2/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.818 total time=   0.0s
[CV 3/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.792 total time=   0.0s
[CV 4/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.805 total time=   0.0s
[CV 5/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.789 total time=   0.0s
[CV 1/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.701 total time=   0.0s
[CV 2/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.636 total time=   0.0s
[CV 3/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.675 total time=   0.0s
[CV 4/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.727 total time=   0.0s
[CV 5/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.632 total time=   0.0s
[CV 1/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.727 total time=   0.0s
[CV 2/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.714 total time=   0.0s
[CV 3/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.636 total time=   0.0s
[CV 4/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.649 total time=   0.0s
[CV 5/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.645 total time=   0.0s
[CV 1/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.818 total time=   0.0s
[CV 2/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.818 total time=   0.0s
[CV 3/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.701 total time=   0.0s
[CV 4/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.753 total time=   0.0s
[CV 5/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.724 total time=   0.0s
[CV 1/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.844 total time=   0.0s
[CV 2/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.831 total time=   0.0s
[CV 3/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.792 total time=   0.0s
[CV 4/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.805 total time=   0.0s
[CV 5/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.789 total time=   0.0s
[CV 1/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.844 total time=   0.0s
[CV 2/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.818 total time=   0.0s
[CV 3/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.792 total time=   0.0s
[CV 4/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.805 total time=   0.0s
[CV 5/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.789 total time=   0.0s

GridSearchCV(estimator=SVC(),
             param_grid={'C': [0.1, 1, 10, 11, 100, 1000],
                         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf']},
             verbose=3)

In [35]:
#checking the best parameters after tuning 
print(grid_model.best_params_)

{'C': 1, 'gamma': 0.1, 'kernel': 'rbf'}

In [36]:
#How the mold looks after tuning 
print(grid_model.best_estimator_)

SVC(C=1, gamma=0.1)

In [37]:
#Checking prediction rate for training data 
grid_predict_train = grid_model.predict(X_train)

In [38]:
grid_cr_train = classification_report(grid_predict_train,Y_train)

In [39]:
print(grid_cr_train)

              precision    recall  f1-score   support

           N       0.47      0.96      0.63        55
           Y       0.99      0.82      0.90       329

    accuracy                           0.84       384
   macro avg       0.73      0.89      0.76       384
weighted avg       0.92      0.84      0.86       384

In [40]:
#Checking prediction rate for testing data 
grid_predict_test = grid_model.predict(X_test)

In [41]:
grid_cr_test = classification_report(grid_predict_test,Y_test)

In [42]:
print(grid_cr_test)

              precision    recall  f1-score   support

           N       0.51      0.90      0.65        20
           Y       0.97      0.78      0.86        76

    accuracy                           0.80        96
   macro avg       0.74      0.84      0.76        96
weighted avg       0.87      0.80      0.82        96